.gerar-nota-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/nf.png') no-repeat center center;
  background-size: cover;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gerar-nota-imagem {
  display: none;
}

.global {
  position: relative;
  background-color: rgba(255, 255, 255, 0.96);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  width: 100%;
  color: #1a1a1a;
}

.gerar-nota-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gerar-nota-form h2 {
  font-size: 2.2rem;
  color: #764ba2;
  margin-bottom: 0.5rem;
  text-align: center;
}

.descricao-formulario {
  color: #4f4e4e;
  font-size: 18px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group-nf {
  width: 100%;
  margin-bottom: 15px;
}

.form-group-nf label {
  display: block;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #100101;
}

.form-group-nf input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #6e6d6d;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group-nf input:focus {
  outline: none;
  border-color: #6c63ff;
  background-color: #fff;
}

.form-group-nf small {
  display: block;
  font-size: 0.8rem;
  color: #4b4b4b;
  margin-top: 0.3rem;
}

.erro {
  color: #e63946;
  font-size: 0.85rem;
  padding-left: 4px;
  margin: 0;
  top: 5px;
  right: 168px;

}

.btn-submit {
  background: linear-gradient(to right, #6c63ff, #7f53ac);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}

.btn-submit:hover {
  background: linear-gradient(to right, #7f53ac, #6c63ff);
}

.mensagem-sucesso {
  color: #2dce89;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
  .global {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .gerar-nota-container {
    flex-direction: column;
  }

  .global {
    padding: 25px 20px;
    max-width: 90%;
  }

  .gerar-nota-form h2 {
    font-size: 1.8rem;
  }

  .descricao-formulario {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .global {
    padding: 20px;
    max-width: 95%;
  }

  .gerar-nota-form h2 {
    font-size: 1.5rem;
  }

  .erro {
    margin: 0;
    padding: 4px;
    right: 55px;
  }

  .descricao-formulario {
    font-size: 14px;
  }

  .btn-submit {
    font-size: 0.9rem;
    padding: 10px;
  }
}